[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tradingview-ta = "*"
requests = "*"
bs4 = "*"
lxml = "*"
twilio = "*"

[dev-packages]

[requires]
python_version = "3.9"
