[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
requests = "*"
tradingview-ta = "*"
html-parser = "*"
bs4 = "*"
schedule="*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
