[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
absl-py = "==0.10.0"
afterhours = "==0.2.1"
alpaca-trade-api = "==1.1.0"
appdirs = "==1.4.4"
appnope = "==0.1.2"
astor = "==0.8.1"
astunparse = "==1.6.3"
attrs = "==20.3.0"
automat = "==20.2.0"
average = "==1.0"
backcall = "==0.2.0"
beautifulsoup4 = "==4.9.3"
bs4 = "==0.0.1"
cachetools = "==4.2.1"
certifi = "==2020.4.5.1"
cffi = "==1.14.5"
chardet = "==3.0.4"
chromedriver = "==2.24.1"
click = "==8.0.1"
colorama = "==0.4.4"
colorlog = "==4.7.2"
colormap = "==1.0.3"
colormath = "==3.0.0"
configparser = "==5.0.2"
constantly = "==15.1.0"
construct = "==2.10.61"
crayons = "==0.4.0"
cryptography = "==3.4.6"
cssselect = "==1.1.0"
cycler = "==0.10.0"
decorator = "==4.4.2"
dill = "==0.3.3"
distlib = "==0.3.1"
dnspython = "==2.1.0"
docutils = "==0.17.1"
dotenv-cli = "==2.2.0"
easydev = "==0.11.0"
email-validator = "==1.1.2"
fake-useragent = "==0.1.11"
feedparser = "==6.0.2"
filelock = "==3.0.12"
flask = "==2.0.1"
flatbuffers = "==1.12"
future = "==0.18.2"
gast = "==0.4.0"
google-api-client = "==3.14.159265359.post1"
google-api-core = "==1.26.3"
google-api-python-client = "==2.2.0"
google-auth = "==1.28.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.4.3"
google-pasta = "==0.2.0"
googleapis-common-protos = "==1.53.0"
grpcio = "==1.34.1"
gunicorn = "==20.1.0"
guppy3 = "==3.1.0"
h5py = "==3.1.0"
html-parser = "==0.2"
httplib2 = "==0.19.1"
hyperlink = "==21.0.0"
idna = "==2.9"
igramscraper = "==0.3.5"
imageio = "==2.9.0"
incremental = "==21.3.0"
iniconfig = "==1.1.1"
instagram = "==1.3.4"
instagramy = "==4.4"
instaloader = "==4.7.1"
int-date = "==0.1.8"
intrinio-sdk = "==5.11.0"
ipykernel = "==5.5.0"
ipython = "==7.21.0"
ipython-genutils = "==0.2.0"
itsdangerous = "==2.0.1"
jedi = "==0.18.0"
jinja2 = "==3.0.1"
joblib = "==1.0.1"
jupyter-client = "==6.1.12"
jupyter-core = "==4.7.1"
keras-applications = "==1.0.8"
keras-preprocessing = "==1.1.2"
kiwisolver = "==1.3.1"
line-profiler = "==3.2.6"
lxml = "==4.6.2"
macd = "==1.0"
markdown = "==3.3.4"
markupsafe = "==2.0.1"
matplotlib = "==3.3.4"
mock = "==4.0.3"
modules = "==1.0.0"
mpl-finance = "==0.10.1"
mplfinance = "==0.12.7a10"
msgpack = "==1.0.2"
multitasking = "==0.0.9"
networkx = "==2.5"
numpy = "==1.18.4"
oauth2client = "==4.1.3"
oauthclient = "==1.0.3"
oauthlib = "==3.1.0"
opt-einsum = "==3.3.0"
pandas = "==1.2.3"

[dev-packages]

[requires]
python_version = "3.9"
